ansible/*.retry
scenarios/**/*.pyc
scenarios/*/results/*
scenarios/*/.tkenvrc
src/artery/messages/*_m.cc
src/artery/messages/*_m.h
www/
.vagrant/
build/
/scenarios/highway-police/PoliceClearLane_m.cc
/scenarios/highway-police/PoliceClearLane_m.h
/src/artery/utility/AsioData_m.cc
/src/artery/utility/AsioData_m.h
/build-debug
